<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="MBSReport_Base" value="D:\Applications\MRS_BPO\Reports"/>
    <add key="MBSReport_StagingFolder" value="Input"/>
    <add key="MBSReport_ResultsFolder" value="Output"/>
    <add key="MBSReport_InputNameConvention" value="data*.txt" />
    <add key="MBSReport_OutputFileName" value="MBSReport_{0}.txt" />
  </appSettings>
</configuration>